<div th:fragment="sidebar" class="sidebar">
    <ul class="menu" style="text-align: left;">
        <li><a th:href="@{/admin/qltk.html}">Quản lí tài khoản</a></li>
        <li><a th:href="@{/admin/qlkh.html.html}">Quản lí khách hàng</a></li>
        <li><a th:href="@{/admin/qldm.html.html}">Quản lí danh mục</a><i class="fa-solid fa-user"></i></li>
        <li><a th:href="@{/admin/qlsp.html.html}">Quản lí sản phẩm</a></li>
        <li><a th:href="@{/admin/qlhd.html.html}">Quản lí hóa đơn</a></li>
        <li><a th:href="@{/admin/bctk.html.html}">Báo cáo thống kê</a></li>
        <li><a th:href="@{/user/thanhtoan.html}">Thanh toán</a></li>
    </ul>
</div>